---
layout: default
title: Home
---

<div class="single row gutters">

<div  class="col span_10">
<p>I'm Aaron Meyer: a bioengineer, cyclist, and nerd.</p>

<p> You can also find me on <a href="https://twitter.com/aarmey">Twitter</a>, <a href="https://github.com/aarmey">Github</a>, <a href="https://www.linkedin.com/in/thana/">LinkedIn</a>, and <a href="https://scholar.google.com/citations?user=D-CQeRMAAAAJ">Google Scholar</a>. </p>

</div>

</div>


<section class="archive">

  <div class="bundle row gutters">


{% for post in site.posts limit:10 %}

  <article class="single row gutters">
    <h3><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_10">{{ post.title }}</a></h3>
    <div class="post-date col span_2">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{% include date-link.html %}</time>
    </div>
    <div class="col span_12">
      {{ post.content }}
    </div>
  </article>

{% endfor %}
</div>


<div><a href="{{ site.baseurl }}archive/" title="Archives" class="col span_12">Archives</a></div>

</section>

<!-- UPDATE //-->
