---
---

@import 'syntax';

$site-background-color: #FCFCFC;

$azul-accent-color: #0070bb;
$ruby-accent-color: #38261F ;
$amber-accent-color: #ff7e00;
$avocado-accent-color: #568203;

$contrast-color: $ruby-accent-color;

$text-color: #333;

/*============================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
body {
  background-color: $site-background-color;
  border-top: 5px solid $contrast-color;
  font-family: 'Source Sans Pro', sans-serif;
  color: $text-color;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
blockquote,
table,
img,
hr,
.fluid-width-video-wrapper,
.highlight {
  margin-bottom: 20px;
}

blockquote {
  padding: 0 20px;
  margin-top: 20px;
  border-left: 5px solid darken($site-background-color, 15%);
}

ul, ol {
  margin-left: 41px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

hr {
  border : 0;
  height: 25px;
  background : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcIAAAAZCAYAAAHVkR6LAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAJCSURBVHjaYmAYBaOAXPB/NAhoAAACaBQN9WTKNACe1B+NZyoCgAAa7uj+aBCMlmtDAjCNkIgE4fPD1YMAATSKRsEoGAW0Kz5Hm7/DoP4bBUMU1GOJRP7RYBl6OfD/aHE6CgYtAAigUTS0QfxoEIyCUTAw4PxoI3sUjIKBA/xI7ev1o8Ex9AEjDvH9o0EzqMAFIC5E6+yOxufQBo6jQTC0gT4D5qgTOn4/GkyjYBTQPiPCgD+0thtdHjQEAUAA9u3gBkEYCgMwie6Bm3j1BhvgRo7gCMYR3MBNWIESNGlIOWiipeT7wjuQwOU17wD96wL40kULIC9bFBux14Li1KHO2gD5dJVELGTVG8Jt2WlBcU6hDtH9Q0vKlkpYSFesT5yuGPcHn4ln2lD3hfet6brME1AUaJ6OuVbTDxsg0xCmqtEm+I33UfPbwvA5Ywh/EKdl6tdgjt99R60B+NAgQHt3k0MwEAUAeDiBpaUjuAFHcROcxFHYWuEEHMEN8NJKZlOhVEZ8XzrRakXykqbe/Dw2AAC+JjqtL8mIEgB/aJLM+oXi9IUAOnefXTETCiiPZUzQrVjxMkzV8rNx9v751rbCA8A/yAsh5M04IRSg9+R15uXDY5HhHRrORdfoouEzo1TVQ5jW+5tbW7b4fvcotL9HgS84pudKIUTbCReUlxEC74lu0NMLv1wjM9zX+/E6SNUY47jOHiOLVOYSgOJFva3VC9ngo/96VdESgJ9+IMYDbZ1liDF2uEvN3aP58VwIAQD4uCuCHpI1W5yjpQAAAABJRU5ErkJggg==) center center no-repeat;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: .8rem;
}

p code {
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: $site-background-color;
  border-radius: 3px;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  border: 1px solid $text-color;

  td, th {
    border: 1px solid $text-color;
    padding: 5px 10px;
  }

  thead {
    background-color: darken($site-background-color, 10%);
  }
}

dt {
  float: left;
  width: 10%;
  font-weight: bold;
}

dd {
  float: left;
  width: 100%;
}

footer {
  font-size: .8rem;
  text-align: center;
}

/*============================================================================*/
.azul { a { color: darken($azul-accent-color, 15%);
    &:hover { color: $azul-accent-color;
}}}

.ruby { a { color: $ruby-accent-color;
    &:hover { color: darken($ruby-accent-color, 20%);
}}}

.amber { a { color: $amber-accent-color;
    &:hover { color: darken($amber-accent-color, 20%);
}}}

.avocado { a { color: $avocado-accent-color;
    &:hover { color: darken($avocado-accent-color, 20%);
}}}

/*----------------------------------------------------------------------------*/

.highlight {
  padding: 30px;
  border-radius: 6px;
  background-color: #272822;
  color: #f8f8f2;
  line-height: 1;

  code {
    font-size: .7rem;
  }
}

.container {
  max-width: 750px;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.right {
  float: right;
  margin: 0 0 20px 20px;
}

.left {
  float: left;
  margin: 0 20px 20px 0;
}

.top-navbar {
  margin-bottom: 40px;
  height: 110px;

  a {
    display: inline-block;
    color: $contrast-color;
    padding: 46px 10px 25px;
    margin-right: 10px;
    margin-top: -5px;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid lighten($contrast-color, 10%);
    text-decoration: none;
    transition: all ease-in-out .3s;

    &:hover,
    &.current-page {
      color: $site-background-color;
      border-bottom: 1px solid lighten($contrast-color, 10%);
    }

    &:hover {
      background-color: $contrast-color;
      transform: translateY(5px);
    }

    &.current-page {
      background-color: $contrast-color;
    }
  }
}

.archive,
.single {
  margin-bottom: 100px;
}

.single {
  font-size: 1.125rem;
  line-height: 28px;
}

.single time {
  color: #999;
  font-size: .9rem;
    
  a {
      text-decoration: none;
  }
}

.bundle {
  border-top: 1px solid lighten($contrast-color, 50%);
  padding-top: 10px;
  margin-bottom: 10px;
}
    
.post-tag {
  font-size: .9rem;
  color: #999;
    
  a {
      text-decoration: none;
  }
}

.post-date {
  text-align: right;
}

.svg-icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  fill: currentColor
}

.not-found {
  margin-top: 150px;
  text-align: center;
  font-size: 2rem;
}

.not-found h1 {
  font-size: 8rem;
}

dl,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

dl,
.clearfix:after {
    clear: both;
}

/*============================================================================*/
#logo {
  display: inline-block;
  height: 110px;
  width: 110px;
  background-size: 90px 90px;
  background-position: left center;
  background-repeat: no-repeat;
}

/*============================================================================*/
@media screen and (max-width: 767px) {
  .top-navbar {
    height: 50px;
    text-align: center;
    margin-top: 20px;

    a {
      padding: 3px 7px;
      margin: 5px;
      border-radius: 0;
      border: 1px solid $contrast-color;
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  .bundle,
  .post-date {
    text-align: center;
  }

  .bundle article {
    margin-bottom: 30px;
  }

  #logo {
    background-position: center center;
  }
}


@import "barefoot";
@import "responsive.gs.12col";
