<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.data.brume.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 | xml_escape }}" {% endif %}>
<meta name="author" content="{{ site.data.brume.author }}">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{{ page.title }} &middot; {{ site.data.brume.name }}</title>

<!-- icons -->
<link rel="shortcut icon" href="{{site.baseurl}}/public/images/favicon.ico" />

<!-- stylesheets -->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css">

<!-- bigfoot -->
<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/bigfoot.min.js"></script>
<script type="text/javascript">
    var bigfoot = $.bigfoot(
    {
        actionOriginalFN: "ignore",
        positionContent: "true"
    }
    );
</script>

<!-- Google fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">

<!-- font Awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://transduc.seas.ucla.edu/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

  var loc = window.location.href+'';
  if (loc.indexOf('http://')==0){
    window.location.href = loc.replace('http://', 'https://');
  }
</script>
<!-- End Piwik Code -->



<!-- feed links -->
<link rel="alternate" href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.name }}">
