<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include icons.html %}
    
    <div class="container azul">
      <header class="top row gutters">
        <div class="col span_2 center">
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          by Aaron Meyer <br /> me@ameyer.me <br /><br />
          
          <a href="http://www.twitter.com/aarmey"><i class="fa fa-twitter fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/aarmey"><i class="fa fa-github-square fa-2x"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{{site.baseurl}}/feed.xml"><i class="fa fa-rss fa-2x"></i></a>
        </p>
      </footer>
    </div>

  </body>
</html>


