<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include icons.html %}
    
    <div class="container azul">
      <header class="top row gutters">
        <div class="col span_2 center">
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
        <p>
          by Aaron Meyer <br /> me@ameyer.me <br /><br />
          
          <a href="http://www.twitter.com/aarmey"><svg class="svg-icon"><use xlink:href="#fa-twitter"></use></svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/aarmey"><svg class="svg-icon"><use xlink:href="#fa-github"></use></svg></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{{site.baseurl}}/feed.xml"><svg class="svg-icon"><use xlink:href="#fa-rss"></use></svg></a>
        </p>
      </footer>
    </div>
    
    <script type="text/javascript">
      lf = new BareFoot();
      lf.init();
    </script>

  </body>
</html>


